/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* variabili */
:root {
    --primary-color: #3684FD;
    --primary-light-color: #B5DDFF;
    --secondary-color: #9792E4;
    --footer-color: #333333;
    --white-color: #fff;
    --p-color: #566979;
}

/* Regole CSS generali */
html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
section {
    scroll-margin-top: 100px;
}
.container {
    max-width: 100%;
    margin: auto;
    padding: 0 1rem;
}
.d-inline {
    display: inline;
}
.d-flex {
    display: flex;
}
.s-between {
    justify-content: space-between;
}
.align-c {
    align-items: center;
}
.button {
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
}
.btn-big {
    padding: 10px 40px;
}
.btn-circle {
    padding: 10px 16px;
}
.bg-white {
    background-color: var(--white-color);
}
.bg-blue {
    background-color: var(--primary-color);
}
.bg-purple {
    background-color: var(--secondary-color);
}
.c-black {
    color: black;
}
.c-white {
    color: var(--white-color);
}
.c-purple {
    color: var(--secondary-color);
}
.c-grey {
    color: var(--p-color);
}
.c-gold {
    color: gold;
}
.b-radius {
    border-radius: 1.5rem;
}
.icon {
    color: var(--primary-color);
    font-size: 5rem;
}
.ml-1 {
    margin-left: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mtb-2 {
    margin: 2rem 0;
}
.ptb-1 {
    padding: 1rem 0;
}
.ptb-2 {
    padding: 2rem 0;
}
.t-center {
    text-align: center;
}
.l-height{
    line-height: 2rem;
}
.big-text {
    font-size: 20px;
}
.medium-font {
    font-size: 36px;
}
.big-font {
    font-size: 60px;
}


/* HEADER */
.site-header {
    background-color: var(--primary-color);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0px 0px 2px 0px var(--primary-light-color);
}
.site-header .container {
    height: 100%;
}
.site-header li {
    display: inline-block;
}
.site-header a {
    text-decoration: none;
    padding-left: 10px;
}
.site-header .hamburger {
    font-size: 2rem;
}
.site-header nav {
    display: none;
}
/* MAIN */
main {
    padding-top: 100px;
}

/* section intro */
#intro .card {
    margin-bottom: 2rem;
    text-align: center;
    padding: 1.5rem;
    background-color: var(--primary-light-color);
}
#intro .card h3 {
    color: var(--primary-color);
    margin: 1rem 0;
}
#intro .card p {
    color: var(--p-color);
    line-height: 2rem;
    font-weight: bold;
}
#intro .card:first-child {
    text-align: left;
    padding: 0;
}
#intro {
    margin: 0 auto;
    display: block;
    width: 80%;
    align-self: flex-end;
}
#intro .app-img {
    width: 90%;
    align-self: flex-end;
    display: block;
    margin: 0 auto;
    padding: 0 2rem;
}
#intro .frist-card-text {
    padding: 1.5rem;
}

/* section planning */
#planning {
    background-color: var(--secondary-color);
    padding: 2rem 0;
}
#planning .column {
    margin: 1rem 0;
    padding: 1.5rem;
}
.frist-plan-col img {
    width: 100%;
}
.frist-plan-col h2 {
    color: var(--white-color);
    font-size: 24px;
    padding: 5rem 0;
}
.frist-plan-col p {
    color: var(--white-color);
    line-height: 1.5rem;
}
.second-plan-col img {
    width: 100%;
}
.second-plan-col h3 {
    font-size: 20px;
    padding-top: 1rem;
}
.second-plan-col p {
    font-style: italic;
    line-height: 1.5rem;
    padding: 2rem 0;
}
.second-plan-col i {
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    line-height: 50px;
}

/* section testimonial */
#testimonial {
    padding: 3rem 0;
}
#testimonial .card {
    margin: 2rem 0;
    background-color: var(--secondary-color);
    padding: 1rem;
}
#testimonial img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

/* section benefits */
#benefits {
    background-color: var(--secondary-color);
    padding: 4rem 0;
}
#benefits .card {
    background-color: var(--white-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}
#benefits h2{
    text-align: center;
    font-size: 36px;
    color: var(--white-color);
}
#benefits .card h1 {
    color: var(--secondary-color);
    font-size: 60px;
}
#benefits .card h3 {
    color: var(--secondary-color);
    padding: 1rem 0;
}
#benefits .card p {
    line-height: 2rem;
    padding: 1rem 0 2rem 0;
}
#benefits .card a {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 10px 40px;
    border-radius: 30px;
}
/* section about-us */
#about-us {
    padding: 2rem 0;
}
#about-us .content-col {
    margin: 1rem 0;
}
#about-us .column-left, .column-right {
    padding: 2rem;
}
#about-us h1 {
    color: var(--secondary-color);
    font-size: 50px;
}
#about-us .user-img {
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;   
    position: relative;
}
#about-us .user i{
    position: absolute;
    top:0;
    right: 0;
    font-size: 60px;
    color: var(--secondary-color);
}

/* section try */
#try {
    background-color: var(--secondary-color);
    padding: 2rem 1rem;
}
#try .container {
    text-align: center;
}

/* FOOTER */
footer {
    background-color: var(--footer-color);
    padding: 2rem 0;
}
footer .container {
    text-align: center;
    color: var(--white-color);
    padding: 0 2rem;
}



/* REGOLE DI RESPONSIVE */
/* responsive dai 768px ai 991px */
@media screen and (min-width: 768px) {
    .container {
        max-width: 740px;
    }
    #intro .cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #intro .card {
        width: calc((100% / 3) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    #intro .card:first-child {
        width: calc((100% / 3 * 2) - 1.5rem);
    }
    #intro .app-img {
        margin: 0;
    }
    #testimonial .card {
        display: flex;
        align-items: center;
    }
    #testimonial .card:last-child {
        flex-grow: 1;
    }
    #testimonial .card-right {
        text-align: left;
        margin-left: 2rem;
    }
    #benefits .cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
    }
    #benefits .card {
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc((100% / 2) - 2rem);
    }
    #about-us .columns {
        display: flex;
    }
    #about-us .column {
        width: 50%;
    }
    #try {
        padding: 2rem 10rem;
    }
    footer .container {
        padding: 0 10rem;
    }
}
/* responsive dai 992px ai 1199px */
@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .site-header .header-menu {
        display: inline-block;
    }
    .site-header .hamburger {
        display: none;
    }
    #intro .card:first-child {
        display: flex;
    }
    #intro .card:first-child > div{
        width: 50%;
    }
    #intro .app-img {
        width: 50%;
    }
    #planning .columns {
        display: flex;
        align-items: flex-end;
        padding-left: 100px;
        padding-right: 100px;
    }
    #planning .column {
        width: calc(50% - 2rem);
        margin: 1rem;
    }
    #planning .second-plan-col img {
        width: 80%;
    }
    #testimonial .card-right {
        padding-left: 0;
    }
    #benefits .card {
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc((100% / 3) - 2rem);
    }
    #about-us .column-left {
        width: 70%;
    }
    #about-us .column-right {
        width: 30%;
    }
    #try {
        padding: 2rem 20rem;
    }
    footer .container {
        padding: 0 20rem;
    }
}
/* responsive dai 1200px in + */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}