/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3684FD;
    --primary-light-color: #B5DDFF;
    --secondary-color: #9792E4;
    --footer-color: #333333;
    --white-color: #fff;
}

/* Regole CSS generali */
html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
section {
    scroll-margin-top: 100px;
}
.container {
    max-width: 100%;
    margin: auto;
    padding: 0 1rem;
}
.d-flex {
    display: flex;
}
.s-between {
    justify-content: space-between;
}
.align-c {
    align-items: center;
}
.button {
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
}
.btn-big {
    padding: 10px 30px;
}
.bg-white {
    background-color: var(--white-color);
}
.bg-blue {
    background-color: var(--primary-color);
}
.c-black {
    color: black;
}
.c-white {
    color: var(--white-color);
}


/* HEADER */
.site-header {
    background-color: var(--primary-color);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0px 0px 2px 0px var(--primary-light-color);
}
.site-header .container {
    height: 100%;
}
.site-header li {
    display: inline-block;
}
.site-header a {
    text-decoration: none;
    padding-left: 10px;
}
.site-header .hamburger {
    font-size: 2rem;
}
.site-header nav {
    display: none;
}
/* MAIN */
main {
    padding-top: 100px;
}

/* section intro */
#intro .card {
    margin-bottom: 20px;
}
#intro .content-card {
    background-color: var(--primary-light-color);
}

/* section planning */
#planning {
    background-color: var(--secondary-color);
    padding: 2rem 0;
}
#planning .column {
    margin: 1rem 0;
}

/* section testimonial */
#testimonial {
    padding: 3rem 0;
}
#testimonial .card {
    margin: 2rem 0;
}
#testimonial .card {
    background-color: var(--secondary-color);
}

/* section benefits */
#benefits {
    background-color: var(--secondary-color);
    padding: 4rem 0;
}
#benefits .card {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#benefits h2{
    text-align: center;
    color: white;
}

/* section about-us */
#about-us {
    padding: 2rem 0;
}
#about-us .content-col {
    margin: 1rem 0;
}

/* section try */
#try {
    background-color: var(--secondary-color);
    padding: 2rem 1rem;
}
#try .container {
    text-align: center;
}
.mtb-16 {
    margin: 1rem 0;
}

/* FOOTER */
footer {
    background-color: var(--footer-color);
    padding: 2rem 0;
}
footer .container {
    text-align: center;
    color: var(--white-color);
    padding: 0 2rem;
}
footer .mt-48{
    margin-top: 3rem;
}


/* Regole Responsive */
@media screen and (min-width: 768px) {
    .container {
        max-width: 740px;
    }
    #intro .cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #intro .card {
        width: calc((100% / 3) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    #intro .card:first-child {
        width: calc((100% / 3 * 2) - 1.5rem);
    }
    #testimonial .card {
        display: flex;
    }
    #testimonial .card:last-child {
        flex-grow: 1;
    }
    #benefits .cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
    }
    #benefits .card {
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc((100% / 2) - 2rem);
    }
    #about-us .columns {
        display: flex;
    }
    #about-us .column {
        width: 50%;
    }
    #try {
        padding: 2rem 10rem;
    }
    footer .container {
        padding: 0 10rem;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    #intro .card:first-child {
        display: flex;
    }
    #intro .card:first-child > div{
        width: 50%;
    }
    #planning .columns {
        display: flex;
        align-items: flex-end;
        padding-left: 100px;
        padding-right: 100px;
    }
    #planning .column {
        width: calc(50% - 2rem);
        margin: 1rem;
    }
    #benefits .card {
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc((100% / 3) - 2rem);
    }
    #about-us .column-left {
        width: 70%;
    }
    #about-us .column-right {
        width: 30%;
    }
    #try {
        padding: 2rem 20rem;
    }
    footer .container {
        padding: 0 20rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}